<% provide(:title, "Log in") %>
<!-- Old Form display, removed for now and put in _header.html.erb to trigger log in modal instead-->
<!--<div class="signin-container">
  <div class="signin-form p-4 m-auto">
    <h2 class="text-center">Log in</h2>
    <div>
      <%= render 'form' %>
    </div>
  </div> -->