<% item = notification.notifiable %>
<% @current_listing = Listing.find(item.listing_id) %>
<% @listing_owner = User.find(@current_listing.user_id) %>
<div class="d-flex flex-row">
    <%= link_to "Uh Oh our system has a record that the item: #{@current_listing.title} is past due its deadline at #{item.end_borrowing}. Please resolve with #{@listing_owner.name} ASAP!", 
    user_path(notification.recipient,active_tab: "borrowRequests"), class: "dropdown-item"%>
</div>