<div class="card user-listing">
  <%= image_tag("empty-item-icon.jpg", :class => "card-img-top")%>
  <div class="card-body">
		<h5 class="card-title">
			Title: <%= listing.title %>
		</h5>
    <p class="card-text">Description: <%= listing.description %></p>
		<p class="card-text"><%= link_to "View Listing", listing_path(listing), class:"card-link" %></p>
  </div>
</div>
