<div class="row">
	<div class="col-12">
		<div class="card d-flex flex-row mb-2">
			<img class="card-img-top" src=".../100px180/" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">
					Title: <%= listing.title %>
				</h5>
					<p> 
					Description: <%= listing.description %>
				</p>
				<%= link_to "View Listing", listing_path(listing), class:"card-link" %>
			</div>
		</div>
	</div>
</div>