<div class="container-fluid bg">
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="mt-2"> Create a new Listing </h1>
        <div class="col-md-12">
            <%= render 'form' %>
        </div>
      </div>
    </div>
</div>