<div class="container" id="chatbox-1">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <%= link_to "Your conversation with #{chatroom.id}", chatroom_path(chatroom) %> 
        </div>
      </div>
    </div>
  </div>
</div>

