<div class="chatroom-button-container" id="chatbox-1">
    <button id="chatroom-button"> <i class="material-icons"> mode_comment </i> </button>
    <div class="chatrooms-window" style="display:none;">
        <div class="popup-chat-top"></div>
        <% current_user.chatroom.each do |chatroom_id| %>
            <div class="chat text-center" id="chat-<%= chatroom_id.id %>">
                <div class="m-auto">
                    <% if chatroom_id.borrow_request_id.present? %>
                        Chat about: <%= Listing.where(id: BorrowRequest.where(id: chatroom_id.borrow_request_id)[0].listing_id)[0].title %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="personal-chat" style="display:none;">
        <div class="popup-chat-top"></div>
        <% current_user.chatroom_ids.each do |popup_id| %>
            <div class="popup-chat" id="personal-chat-<%=popup_id%>"  style="display:none;">
                <%= render partial: 'chatrooms/show_popup', locals: {messages: Message.where(chatroom_id: popup_id), chatroom: Chatroom.find(popup_id)}%>
            </div>
        <% end %>
    </div>
</div>

<%# force rerender a partial %>
<script>
  // chatrooms implementations
  $("#chatroom-button").click(function() {
      $(".chatrooms-window").show();
  });
  $(".popup-chat-top").click(function() {
      $(this).parent().hide();
  });
  $( ".chat" ).click(function() {
    // hide all others
    $(".personal-chat").show();
    $('.popup-chat').each(function() {
        $(this).hide();
    });
    $("#personal-" + $(this).attr('id')).show();
  });
</script>
