<div class="row col-md-8 col-md-offset-2">
  <h1><%= @chatroom.id %></h1>

  <% if @chatroom.messages.any? %>
  <div class="conatiner">
    <div class="card">
      <%= render partial: 'messages/message', collection: @chatroom.messages%>
    </div>
  </div>
  <%end%>
  
  <br />

  <div class="conatiner">
    <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
  </div>

</div>