<div class="card user-group">
  <div class="card-body">
		<h5 class="card-title">
			Title: <%= group.name %>
		</h5>
    <p class="card-text">Description: <%= group.description %></p>
		<p class="card-text"><%= link_to "View Group", group_path(group), class:"card-link" %></p>
  </div>
</div>
