<div class="container-fluid">
	<!-- Tabs for organizing groups-->
	<div class="row">
		<div class="col-md-12 p-3">
			<ul class="nav nav-tabs nav-justified">
				<li class="nav-item active">
					<a class="nav-link active" data-toggle="tab" href="#allGroupsTab">All Groups</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" data-toggle="tab" href="#myGroupsTab">My Groups</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- Tab content -->
	 <div class="row">
		<div class="col-md-12">
			<div class="tab-content">
				<div id="allGroupsTab" class="tab-pane fade show active">
					<div class="container">
						<h1 class="p-4 font-weight-bold"> All Groups </h1>
						<%= render @groups %>
					</div>
				</div>
				<div id="myGroupsTab" class="tab-pane fade">
					<div class="container">
					 <h1 class="p-4 font-weight-bold"> My Groups </h1>
            		 <%= render current_user.groups.all %>
					</div>
				</div>
			</div>
		</div>
	 </div>
</div>


