<div class="container">
    <div class="row">
        <div class="col-md-6">
            <%= link_to "Put up a Listing", new_listing_path, class:'btn db-create-btn p-3 m-2 w-75 font-weight-bold', style:"color:white!important;" %>
        </div>
        <div class="col-md-6">
            <%= link_to "Browse Listings", listings_path , class:'btn db-browse-btn p-3 m-2 w-75 font-weight-bold', style:"color:white!important;" %>
        </div>
    </div>
</div>