<div class="container"> 
    <div class="row justify-content-center mt-3"> 
        <div class="btn-group w-50" role="group" aria-label="Basic example">
            <button id="borrowingButton" type="button" class="btn btn-secondary w-50">Borrowing</button>
            <button id="lendingButton" type="button" class="btn btn-secondary w-50">Lending</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
                <div id="borrowing">
                    Borrowing stuff 
                </div>
                <div id="lending">
                    Lending stuff 
                </div>
        </div>
    </div>
</div>
<!--<div class="row">
    <div class="col-md-6 mx-4">
        <div class="d-flex flex-row mt-3 py-3">
            <h2> Requests You've Made </h2>
        </div>
    </div>
    </div>
    <div class="row">
    <% if @user.borrow_requests.count > 0%>
        <%= render @user.borrow_requests %>
    <% else %>
        <div class="col-md-12">
            <div class="card d-flex p-5 mb-5">
                <div class="card-text p-5 d-flex justify-content-center align-items-center text-secondary">
                You haven't requested to borrow anything yet. Browse lisitings to find what you need!
                </div>
            </div>
        </div>
    <%end%>
</div>

<div class="row">
        <div class="col-md-6 mx-4">
            <div class="d-flex flex-row mt-3 py-3">
                <h2> Approved Requests </h2>
            </div>
        </div>
    </div>
<div class="row">
    <% @count = 0 %>
    <% @user.listings.each do |u| %>
    <% @count += u.borrow_requests.where(status: "approved").count %>
    <% end %>
    <% if @count > 0%>
        <% @user.listings.each do |listing| %>
        <% listing.borrow_requests.each do |borrow_request| %>
            <% if borrow_request.status == "approved"%>
            <div class="col-md-6">
                <div class="card card mx-2 mb-2">
                    <div class="card-body">
                        <h4> Borrower's Name: </h4>
                        <%= User.find_by(id: borrow_request.user_id).name %>
                        <h4> Listing name: </h4>
                        <%= listing.title %>
                    </div>
                </div>
            </div>
            <% end %>
        <% end %>
        <% end %>
    <% else %>
        <div class="col-md-12">
            <div class="card d-flex p-5 mb-5">
                <div class="card-text p-5 d-flex justify-content-center align-items-center text-secondary">
                You don't have approved requests
                </div>
            </div>
        </div>
    <%end%>
</div>
-->