<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account!') %>

<!-- Added some styling code here just in case later once we have it would be easier to 
work with ! -->
<div class="container" style="width:600px;">
  <h1>Sign up</h1>
  <div class="">
    <%= render 'form' %>
  </div>
</div>