<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account!') %>

<!-- Added some styling code here just in case later once we have it would be easier to 
work with ! -->
<div class="signup-container">
  <div class="signup-form p-4 m-auto">
    <h2 class="text-center">Sign up</h2>
    <div>
      <%= render 'form' %>
    </div>
  </div>
</div>