<div class="container-fluid">
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-white overflow-hidden">
            <h3> Name: <%=@user.name%> </h3>
            <h3> Email: <%= @user.email %> </h3>
        </div>
       <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-white overflow-hidden">
             <h1> Your Dashboard </h1>
             <p> What I suggest is there should be an overview of the user's activity using pie charts
                Ideally there will be summary of the user's listings, reviews, etc. It doesnt have to 
                be a pie chart. just some easy way to convey infomration that looks good too </p>
        </div>
    </div>
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">

         <h2> Your listings </h2>
         <div class="all-users-cards-container">
            <%= render @user.listings %>
         </div>
        </div>
    </div>
</div>