<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 bg-info">
            <h3 class="ml-4 py-3"> <%=@user.name%> </h3>
            <h3 class="ml-4 py-3"> <%= @user.email %> </h3>
        </div>
        <div class="col-md-8 bg-secondary py-3 px-3">
            <h1> Your Dashboard </h1>
            <p> What I suggest is there should be an overview of the user's activity using pie charts
                Ideally there will be summary of the user's listings, reviews, etc. It doesnt have to 
                    be a pie chart. just some easy way to convey infomration that looks good too </p>
       </div>
    </div>
    <div class="row">
        <div class="col-md-6 mx-4">
            <div class="d-flex flex-row mb-3 py-3">
                <h2> Your listings </h2>
                <%= link_to "Create new listing", new_listing_path, class:'btn btn-outline-info h-25 ml-4 mt-2' %>
            </div>
            <%= render @user.listings %>   
        </div>
    </div>
</div>