<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-3">
            <ul class="nav nav-tabs nav-justified">
                <!-- add data-toggle attribute to the anchors -->
                <li class="nav-item active">
                    <%if params[:active_tab]=="dashboardTab"%>
                    <a class="nav-link active" data-toggle="tab" href="#dashboardTab">Dashboard</a>
                    <%else%>
                    <a class="nav-link" data-toggle="tab" href="#dashboardTab">Dashboard</a>
                    <%end%>
                </li>
                <li class="nav-item active">
                    <%if params[:active_tab]=="userListings"%>
                    <a class="nav-link active" data-toggle="tab" href="#userListings">Listings</a>
                    <%else%>
                    <a class="nav-link" data-toggle="tab" href="#userListings">Listings</a>
                    <%end%>
                </li>
                <li class="nav-item">
                    <%if params[:active_tab]=="borrowRequests"%>
                    <a class="nav-link active" data-toggle="tab" href="#borrowRequests">My Rentals</a>
                    <%else%>
                    <a class="nav-link" data-toggle="tab" href="#borrowRequests">My Rentals</a>
                    <%end%>
                </li>
                <li class="nav-item">
                    <%if params[:active_tab]=="actionItems"%>
                    <a class="nav-link active" data-toggle="tab" href="#actionItems">Action Items </a>
                    <%else%>
                    <a class="nav-link" data-toggle="tab" href="#actionItems">Action Items </a>
                    <%end%>
                </li>
                 <li class="nav-item">
                    <%if params[:active_tab]=="approvedRequests"%>
                    <a class="nav-link active" data-toggle="tab" href="#approvedRequests">Messages</a>
                    <%else%>
                    <a class="nav-link" data-toggle="tab" href="#approvedRequests">Messages</a>
                    <%end%>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <%if params[:active_tab]=="dashboardTab"%>
                <div id="dashboardTab" class="tab-pane fade show active">
                <%else%>
                <div id="dashboardTab" class="tab-pane fade">
                <%end%>
                    <%= render 'dashboard_tab_content' %>
                </div>
                <%if params[:active_tab]=="userListings"%>
                <div id="userListings" class="tab-pane fade show active">
                <%else%>
                <div id="userListings" class="tab-pane fade">
                <%end%>
                   <%= render 'user_listings_tab_content' %>
                </div>
                <%if params[:active_tab]=="borrowRequests"%>
                <div id="borrowRequests" class="tab-pane fade show active">
                    <%else%>
                    <div id="borrowRequests" class="tab-pane fade">
                    <%end%>
                     <%= render 'user_rentals_tab_content'%>
                </div>
                <%if params[:active_tab]=="actionItems"%>
                <div id="actionItems" class="tab-pane fade show active">
                <%else%>
                <div id="actionItems" class="tab-pane fade">
                <%end%>
                  <%= render 'user_action_items_tab_content'%>
                </div>
                <%if params[:active_tab]=="approvedRequests"%>
                <div id="approvedRequests" class="tab-pane fade show active">
                    <%else%>
                    <div id="approvedRequests" class="tab-pane fade">
                    <%end%>
                </div>
            </div>
        </div>
    </div>
</div>
