<div class="container-fluid">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <h1>Contact Us</h1>
    <p>You can contact us via email at xchage.csc444@gmail.com</p>


    <p>Follow us on social media:</p>
    <a class="fa fa-facebook" style="font-size:24px" href="https://www.facebook.com/Xchange-343909489518466"></a>
    <a class="fa fa-twitter" style="font-size:24px" href="https://twitter.com/xchange89880614"></a>
    <a class="fa fa-instagram" style="font-size:24px" href="https://www.instagram.com/xchange.csc444"></a>
</div>