<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aboutModalLabel">About Us</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	  		XChange's philosophy is based on the idea that we often purchase things that we only use once. We want to help you save clutter and money in your home by
          connecting you with the people who are willing to lend what you need. Give your items a second life or save money and reduce clutter by borrowing instead.
      </div>
    </div>
  </div>
</div>