<div class="modal fade" id="faqModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="faqModalLabel">Frequently Asked Question</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	  		<div class="text-left">
          <div class="font-weight-bold"> <span class="question">Q.</span> What do I do if the item I need is not on the listings? </div>
          <div class="answer ml-3"> You can request your own item at Wanted Items!</div>

          <div class="font-weight-bold"><span class="font-weight-bold question">Q.</span> I want to only look at my friends' listings, Can I do that?</div>
          <div class="answer ml-3"> Yes! Create your own groups with your friends and view their listings from there!</div>
        </div>
      </div>
    </div>
  </div>
</div>