<div class="modal fade" id="termsOfServiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="termsOfServiceModalLabel">Terms of Service</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	  		<div class="text-left">
          <div class="main-text mb-2">By using our website, you agree to</div>
          <div class="ml-2"> 
            <span class="num font-weight-bold">1.</span> Be cool.
          </div>
          <div class="ml-2"> 
            <span class="num font-weight-bold">2.</span> Respect others, even if you don't like them.
          </div>
          <div class="ml-2"> 
            <span class="num font-weight-bold">3.</span> Don't catfish.
          </div>
          <div class="ml-2"> 
            <span class="num font-weight-bold">4.</span> Be kind.
          </div>
          <div class="ml-2"> 
            <span class="num font-weight-bold">5.</span> Sell your soul.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>