<%# Carousel %>
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
          <div class="carousel-item active">
              <%= image_tag("books-bigger.jpg", :class => "carousel-image")%>
              <div class="carousel-content">
                <h1>Borrow Anything</h1>
                <p>Need something that you'll only use once?
                  We'll connect you with people that you can borrow it from at a lower cost. </p>
              </div>
          </div>
          <div class="carousel-item">
              <%= image_tag("tools-bigger.jpg") %>
              <div class="carousel-content">
                <h1>Lend Anything</h1>
                <p>Got something lying around that you only used once?
                   Lend it out through XChange to give it a second life. </p>
              </div>
          </div>
      </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>

    <%#  <%= image_tag("logo_transparent.png", width: '300px') %>
    <% if !logged_in? %>
        <button> <%= link_to 'Sign Up!', new_user_path, class: "btn btn-primary" %> </button> 
    <%end%>
