<% @actor = User.find(notification.actor_id) %>
<div class="d-flex flex-row">
     <%if @actor.person.image.attachment != nil and @actor.person.image.content_type.in?(%('image/jpeg image/png')) %>
          <%= image_tag(@actor.thumbnail, :class => "rounded-circle ml-2 mt-1", :style=> "width:50px;height:50px")%>
      <% else %>
          <%= image_tag("empty-user-icon.png", :class=> "rounded-circle ml-2 mt-1", :style=> "width:50px;height:50px")%>
     <%end%>
    <%= link_to " #{@actor.name} has requested to borrow your item: #{notification.notifiable.title}", 
    user_path(current_user,active_tab: "actionItems"), class: "dropdown-item"%>
</div>