<h1>About XChange</h1>
<p>XChange is a borrow and lending service</p>

<p>Find us on:</p>
<a href="https://www.facebook.com/Xchange-343909489518466/">Facebook</a>

<br><br><br>
<%= link_to 'Home', controller: 'home' %>