/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

/*** DO NOT CHANGE - This is for making font sizes responsive */ 
* {
    font-family: 'Catamaran', sans-serif;
}

// v small devices
@media (max-width: 543px) {  
  * {
    font-size:0.9rem; /*1rem = 16px*/
  } 
  .home-title {
    font-size: 1.8rem;
  }
  .card-img-top {
    width:100%; 
    height: 40vw;
    object-fit: cover;
  }
  .dropdown-menu {
    width:20rem; 
  }
}

@media (min-width: 544px) {  
  * {
    font-size:1rem; /*1rem = 16px*/
  } 
  .home-title {
    font-size: 2rem;
  }
  .card-img-top {
    width:100%; 
    height: 40vw;
    object-fit: cover;
  }
  .dropdown-menu {
    width:20rem; 
  }
}
 
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
  * {
    font-size:1.1rem;
  } 
  .home-title {
    font-size: 2.2rem;
  }
  .card-img-top {
      width:100%; 
      height: 35vw;
      object-fit: cover;
  }
  .dropdown-menu {
    width:20rem; 
  }
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  *{font-size:1.1rem;} /*1rem = 16px*/
  .home-title {
    font-size: 2.2rem;
  }
  .card-img-top {
    width:100%; 
    height: 25vw;
    object-fit: cover;
  }
  .dropdown-menu {
    width:16rem; 
  }
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  *{font-size:1.2rem;} /*1rem = 16px*/ 
  .home-title {
    font-size: 2.4rem;
  }   
  .card-img-top {
    width:100%; 
    height: 25vw;
    object-fit: cover;
  }
  .dropdown-menu {
    width:16rem; 
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
  position: relative;
}
  
/*input:not([type='submit']), textarea.form-control {
  outline: 0;
  border: 0;
  background: #390d7a;
  box-sizing: border-box;
 }*/

.alert {
  margin-bottom: 0;
}

.btn {
  background-color: transparent;
  border-color: rgb(3,15,80);
  color: rgb(3,15,80) !important;
}
.btn:hover {
  background-color: rgb(3,15,80);
  border-color: rgb(3,15,80);
  color: white !important;
}
.btn-danger:hover {
  background-color: #dc3545;
  border-color: #dc3545;
  color: white !important;
}
.btn-success:hover {
  background-color: #28a745;
  border-color: #28a745;
  color: white !important;
}
.btn-secondary:hover {
  background-color: #6c757d;
  border-color: #6c757d;
  color: white !important;
}
.btn-warning:hover {
  background-color: #ffc107;
  border-color: #ffc107;
  color: white !important;
}
.footer {
  //position: absolute;
  bottom: 0;
  width: 100%;
  /*height: 60px; /* Set the fixed height of the footer here */
  /*line-height: 60px; /* Vertically center the text there */
  background-color: #1c1d28;
  a {
      color: white;
      text-decoration: none;
    }
}

// responsive side menu
.side-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100%;
  color: white;
  .side-menu-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .side-nav-wrapper {
    position: absolute;
    top: 0;
    width: 15rem;
    height: 100%;
    background-color: rgb(104,214,205);
    list-style: none;
    margin: 0;
    padding: 0;
    a {
      display: block !important;
      white-space: nowrap; 
      overflow: hidden;
      text-overflow: ellipsis;
      text-decoration: none;
      color:white;
    }
    .navbar-brand {
      color: rgb(3,15,80);
    }
    .btn {
      color: white !important;
      border-color: white !important;
    }
    .btn:hover {
      background-color: white;
      color: rgb(104,214,205) !important;
    }
  }
}