.chatroom-container{
    img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
    }
}

.chatroom-button-container {
    #chatroom-button {
        position: fixed;
        background-color: transparent;
        bottom:15px;
        right:15px;
        border:0;
        i {
            color: rgb(3,15,80);
        }
    }
    .chatrooms-window, .personal-chat {
        height: 300px;
        width: 200px;
    }
    .chatrooms-window, .personal-chat, .popup-chat-top {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .popup-chat-top {
        width: 100%;
        height:30px;
        background-color: rgb(3,15,80);
    }
    // chat rooms display
    .chatrooms-window {
        position: fixed;
        bottom:0;
        right:0;
        background: white;
    }
    // single chatroom number
    .chat {
        height: 30px;
        border-bottom: 1px solid black;
    }
    .personal_chat {
        position: fixed;
        bottom:0;
        left:0;
    }
    .personal-chat-container {
        height: 90%;
        overflow: scroll;
    }
    .popup-chat {
        height: 100%;
        overflow: scroll;
    }
    .personal-chat {
        background-color: white;
        position:fixed;
        bottom: 0px;
        right: 220px;
    }
    .popup-chat, .chatrooms-window {
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
    }
    
}