//I'm putting styles for the home page, header and footer here. The header styles
//would be at the top of the file, the home page content styles would be next
//and the end will be footer styles.

.xchange-header {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: rgb(104,214,205);
    transition: ease-out 0.3s;
    z-index: 25 !important;
    a, i {
      color: white;
      transition: ease-in-out color .25s;
    }
    .navbar-brand, a:hover, i:hover {
      color: rgb(3,15,80) !important; 
    }
    .logo {
      font-size: 1.3rem;
    }
    .btn {
      color: white !important;
      border-color: white !important;
    }
    .btn:hover {
      background-color: white;
      color: rgb(104,214,205) !important;
    }
    .notification-button {
      text-align: center;
      color: white !important;
    }
    // search bar
    .search input {
      display: block;
      margin: 0 0 0 auto;
      border: 0px;
      width: 50%;
      height: 30px !important;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
    }
    .search input:focus {
      width: 100%;
    }
}

.carousel-inner {
    width: 100%;
    max-height: 80vh;
  }

// set background image for parallax effect
.slide-1 {
  height: 80vh;
  background-position: center;
  background-image: asset_url('carousel-pattern.jpg');
  background-attachment: fixed !important;
}
.carousel-content {
    position: absolute;
    top: 25%;
    left: 19%;
    z-index: 20;
    color: white;
    h1 {
        font-size: 4.5rem;
    }
    p {
        font-size: 2rem;
        max-width: 800px;
    }
}
.carousel-caption {
  top: 50% !important;
  font-size: 8vw !important;
  transform: translateY(-50%) !important;
  bottom: 0 !important;
  letter-spacing: 1rem;
  font-weight: bold;
  -webkit-animation: fadein 5s;
}
@keyframes fadein {
  from { 
    opacity: 0; 
  }
  to   { 
    opacity: 1; 
  }
}

.page-content {
  text-align: center;
  .home-title {
    // font-size: 3.5vw !important;
    letter-spacing: 1.3vw !important;
    font-weight: 1000 !important;
  }
  .main-text {
    // font-size: 1.7vw !important;
  }
  hr {
    border: 1.5px solid rgb(104,214,205);
    width: 10%;
    margin-top: 0;
  }
  .small-hr {
    border: 0.5px solid rgb(104,214,205) !important;
    width: 10%;
  }
  .main-text {
    width: 80%;
  }
  .sub-text {
    width: 70%;
  }
  .divider {
    // height: 30vh;
    width: 30;
    background-position: center;
    background-image: asset_url('carousel-pattern.jpg');
    background-attachment: fixed !important;
  }

  .get-involved {
    color: white;
    img {
      width: 70%;
    }
  }

  .about-icons {
    img {
      width: 100%;
    }
  }
  .btn {
    width:30%;
    background-color: rgb(3,15,80) !important;
    a {
      color: white !important;
      text-decoration: none;
    }
  }
  .btn:hover {
    background-color: white !important;
    a {
    color: rgb(3,15,80) !important;

    }
  }
}

.landing-page-search {
  background-color: rgb(104,214,205);
  .title h1 {
    font-size: 10vw;
    font-family: 'Mabry-Black' ,' Helvetica', 'Arial' !important;
    letter-spacing: -5;
    font-weight: bold;
    color: rgb(3,15,80) !important;
  }
  .floating-img {
    animation: float 4s ease-in-out infinite;
    img {
      width: 100%;
    }
  }
  @keyframes float {
    0% {
      transform: translatey(0px);
    }
    50% {
      transform: translateX(10px) translateY(-20px);
    }
    100% {
      transform: translatey(0px);
    }
  }

  .searchbar {
    width: 100%;
    i {
      color: rgb(3,15,80);
    }
    .easy-autocomplete {
      width: 100% !important;
    }
    .input-container {
      position: relative;
    }
    .input-icon {
      position: absolute;
      bottom: 12px;
      left: 15px;   
    }
    input {
      margin: 0;
      border: 0px;
      height: 50px;
      width: 95%; 
      padding-left: 50px;
    }    
  }
}

.items {
  .listing-detail {
    text-align: left !important;
    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
      border-radius: 3px;
    }
    i {
      color: rgb(104,214,205);
    }
  }
}

.fake-reviews-container {
  background-color: #ff7264;
  height: 300px;
  img {
    width: 100%;
  }
  .fake-reviews {
    height: 100%;
  }
  .card-container {
    position: relative;
    height: 100%;
  }
  .fake-review-card {
    position: absolute;
    // height: 150px;
    width: 100%;
    border-radius: 6px;
    background-color: #ff3f64;
  }
  .stars {
    color: #ffcc00;
  }
  .review-comment, .review-author {
    color: white;
  }
}

.news-container {
  .news-content {
    img {
      height: 25px;
    }
  }
  .news-details {
    width: 50%;
  }
}