//I'm putting styles for the home page, header and footer here. The header styles 
//would be at the top of the file, the home page content styles would be next 
//and the end will be footer styles.

.xchange-header {
    background-color: rgba(0, 0, 0, .85);
}
.xchange-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.carousel-inner {
    width: 930px;
    height: 512px;
  }
.carousel-content {
    position: absolute;
    top: 18%;
    left: 19%; 
    z-index: 20;
    color: white;
    h1 {
        font-size: 4.5rem;
    }
    p {
        font-size: 2rem; 
        max-width: 800px; 
    }
}
.xchange-footer {
    bottom: 0;
    width: 100%;
}