// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel-inner {
    width: 930px;
    height: 360px;
  }

.carousel-content {
    position: absolute;
    top: 35%;
    left: 27%; 
    z-index: 20;
    color: white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}