// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dropdown-menu { 
    width: 16rem !important; 
    a {
        color: black !important; 
        font-size: .75rem !important; 
        white-space: normal;
    }
    .items {
        font-size: .5rem !important; 
     }
}

