// Place all the styles related to the Settings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.setting-menu {
    padding: 10%;
    margin: auto;
    height: 70vh;
    border: 1px solid #17a2b8;
    a {
        text-decoration: none !important;
        color: black;
    }

}
.setting-item {
    padding: 3%;
    margin: auto;
    height: 70vh;
    border: 1px solid #17a2b8;
}