// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-card {
   :hover {
     background:#c7eae4 !important; 
   }
}
.user-listing, .user-group {
  margin: 0.3rem;
}
.user-listings, .user-group{
  display: grid;
  grid-template-columns: 50% 50%;
}
.small-container {
  width: 100%;
}
.user-box {
  position: relative;
  margin: auto;
  width: 90%;
  border: 1px solid #17a2b8;
  border-radius: 10px;
  background-color: white;
}
.user-content {
  margin: 5%;
}
.user-pfp {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-image: asset_url("empty-user-icon.png");
  background-position: center;
  background-size: 70%;
  position: absolute;
  top: -60px;
  left: 30px;
}

.signup-container, .signin-container {
  background-color: rgb(104,214,205);
  
  a {
    text-decoration: none !important;
    color: white;
  }
  input:not([type='submit']), textarea.form-control {
    // outline: 0;
    border: 0;
    box-sizing: border-box;
  }
  input[type='submit'] {
    border: 2px solid rgb(3,15,80);
    background-color: rgb(3,15,80) !important;
    color: rgb(104,214,205) !important;
    width: 100%;
  }
  input[type='submit']:hover {
    border: 2px solid rgb(3,15,80);
    background-color: transparent !important;
    color: rgb(3,15,80) !important;
  }
}
.signin-container {
  height: 100%;
}
.signup-form, .signin-form {
  width: 50%;
}