<%# Successful borrow request made modal. %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-body font-weight-bold">
            Nice! You've requested to borrow this item! <br />
            <div style="color:purple;">What's next?</div>
            You can track the status of your request by clicking My Rentals Below. <br/>
           <div style="color:grey;">  You'll be notified if the lender approves or rejects your request.</div> 
        </div>
        <div class="modal-footer">
            <% if !current_user.nil? %>
             <%= button_to "My Rentals", user_path(current_user.id),params: {active_tab: "borrowRequests"}, class:"btn db-create-btn mt-2 font-weight-bold", :method => :get, :style => {color:"white!important;"} %>
             <%else%>
             <%end%>
        </div>
        </div>
    </div>
</div>