<%# Successful borrow request made modal. %>
<div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-body font-weight-bold">
            Nice! You've approved this rental request!  <br />
            <div style="color:purple;">What's next? <br /> Arrange with the borrower through our messages to lend the item to them.</div>
           <div style="color:grey;">  Once you've given away the item, come back to Action Items to mark your listing as borrowed.</div> 
        </div>
        <div class="modal-footer">
            <% if !current_user.nil? %>
             <%= button_to "Okay!", user_path(current_user.id),params: {active_tab: "actionItems"}, class:"btn db-create-btn mt-2 font-weight-bold", :method => :get, :style => {color:"white!important;"} %>
             <%else%>
             <%end%>
        </div>
        </div>
    </div>
</div>