<%# Modal for Successful Mark as borrowed. %>
<div class="modal fade" id="markAsReturnedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-body font-weight-bold">
            Nice! You've marked this item as returned! <br />
            <div style="color:purple;">What's next?</div>
            Rate your experience with the borrower! You can rate users in My Rentals -> Lending toggle <br/>
        </div>
        </div>
    </div>
</div>