<%# Modal for Successful Mark as borrowed. %>
<div class="modal fade" id="markAsBorrowedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-body font-weight-bold">
            Nice! You've lent this item out! <br />
            <div style="color:purple;">What's next?</div>
            Wait until the expected date of return to receive the item back. Then, come back to Mark as Returned tab to successfully complete the transaction. <br/>
           <div style="color:grey;">  You'll be notified repeatedly to make sure you get your item back, and to mark it as returned.</div> 
        </div>
        </div>
    </div>
</div>