<%# Successful borrow request made modal. %>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-body font-weight-bold">
            Nice! You've requested to borrow this item! <br />
            What next?
            You can track the status of your request in your Dashboard -> My Rentals Tab. 
            You'll be notified if the lender approves or rejects your request. 
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>