<%# Modal for Successful Mark as borrowed. %>
<div class="modal fade" id="markAsReturnedModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-body font-weight-bold">
            Nice! You've marked this item as returned! <br />
            <div style="color:purple;">What's next?</div>
            How was your experience with the borrower? Rate them! Button is coming..... <br/>
           <div style="color:grey;">  We hope you enjoyed giving your item a second life!</div> 
        </div>
        </div>
    </div>
</div>